.carousel {
	width: 350px;
	height: 600px;
	padding: 0px;
	position: relative;
	overflow: hidden;
    
}


.carousel__item {
	height: 323px;
    width: 375px;
	left:0;
	position: absolute;
    top:0;
    

}

.carouselcentre {
    padding-left: 27px;
    max-width: 283px;
}